

form.signup {
    display: flex;
    flex-direction: column;
}

input.signup {
    font-size: 15px;
    height: 25px;
    margin-bottom: 3px;
}

button.signup {
    font-size: 18px;
    margin-top: 20px;
    height: 30px;
    width: 100%;
}

h1.signup.title {
    text-align: center;
}
