

/* Upper Section */

div.page.container {
    display: flex;
    flex-direction: column;
}

.fa-chevron-left {
    align-self: center;
}

a.upper.toGroups {
    margin-left: 3px;
}

.upperSection {
    display: flex;
    gap: 3%;
    margin-top: 5px;
    margin-bottom: 15px;
}

div.upper.container {
    display: flex;
    width: 50%;
}

div.text.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 1;
}

img.upper {
    align-self: center;
    width: 100%;
}

div.additionalInfo {
    width: 100%
}

button.join {
    align-self: flex-start;
    font-size: 1.4rem;
    height: 40px;
    width: 200px;
}

.background {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: fit-content;
    padding-bottom: 300px;
    position: absolute;
    left: 0;
}

.lower {
    text-align: left;
}

.lower.container {
    width: 70%;
}

p.newErrors {
    color: red;
    text-decoration: underline;
}

.crud.container {
    display: flex;
    gap: 5px;
    width: 100%;
}

button.crud {
    background-color: gray;
    border: none;
    height: 30px;
    list-style-type: none;
    width: 140px;
}

button.delete.modal {
    height: 30px;
    width: 40%;
}

a.update {
    color: white;
    text-decoration: none;
}

button.delete.modal.no {
    background-color: gray;
    border: none;
}

div.delete.modal.button.container {
    display: flex;
    justify-content: center;
    gap: 5%;
}

p.dot {
    align-self: center;
    font-size: 30px;
}

button.upper.update {
    width: 140px;
}

.lower.event.text.container {
    margin-top: 30px;
    width: 80%;
}
