
form.create.group{
   margin-top: -20px;
}
/* Upper Section */

div.page.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.fa-chevron-left {
    align-self: center;
}

h1.upper.title.groups {
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
}

a.upper.toGroups {
    margin-left: 3px;
}

div.upper.text.container > p {
    margin: 0;
}

p.topLine {
    color: teal;
    font-weight: bold;
}

li.first.line.list {
    margin-top: 10px;
}

h1.form.title{
    margin-top: -5px;
    margin-bottom: 5px;
}

input.form{
    margin: 10px 0;
}

select.form.type,
select.form.private {
    margin-bottom: 20px;
}

textarea{
    border: 1px solid lightgray;
    border-radius: 7px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

p.upper {
    align-self: center;
    margin: 0;
}

input.form.img.url,
input.form.name {
    width: 300px;
}
.upperSection {
    display: flex;
    gap: 3%;
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
}

div.upper.container.groups {
    display: flex;
    width: 50%;
}

div.text.container {
    align-items: flex-start;
    display: grid;
    flex-direction: column;
    margin-left: 5px;
    word-wrap: normal;
    width: calc(80%);
}

img.upper {
    width: auto;
    max-height: 250px;
    max-width: 420px;
}

div.upper.img.container {
    display: flex;
    justify-content: flex-end;
    max-height: 400px;
    max-width: 600px;
    height: auto;
    width: 800px;
}

div.additionalInfo {
    width: 100%
}

button.upper.join {
    justify-self: flex-start;
    align-self: flex-end;
    font-size: 14px;
    height: 30px;
    width: 130px;
}

.background {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: fit-content;
    padding-bottom: 300px;
    position: absolute;
    left: 0;
}

.lower {
    text-align: left;
}

.lower.container {
    width: 70%;
}

h1.lower.title {
    margin: 0px;
}

h1.lower.title {
    margin: 20px 0;
    margin-bottom: 15px;
}

p.lower.subtitle.about {
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
}

p.newErrors {
    color: red;
    text-decoration: underline;
}

.crud.container {
    align-self: flex-end;
    display: flex;
    gap: 5px;
    width: 100%;
}

button.crud {
    background-color: gray;
    border: none;
    font-size: 15px;
    height: 23px;
    list-style-type: none;
    width: 110px;
}

button.delete.modal {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
}

h1.delete.modal.title {
    text-align: center;
}

a.update {
    color: white;
    text-decoration: none;
}

button.delete.modal.no {
    background-color: gray;
    border: none;
}

div.delete.modal.button.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

p.dot {
    align-self: center;
    font-size: 33px;
}

button.upper.update {
    width: 110px;
}

.lower.event.text.container {
    margin-top: 30px;
    width: 80%;
}

.listing.img.container {
    display: flex;
    height: 100%;
    max-height: 150px;
    justify-content: flex-start;
    width: 300px;
}

div.lower.card {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    width: 60%;
}

button.upper.crud.referencebutton {
align-items: center;
justify-content: center;
display: flex;
}

div.lower.card.individual {
    margin-top: 20px;
}

input.form.group.location {
    width: 140px;
}

p.card.groupslist.about {
    display: inline-block;
    font-size: 12px;
    max-height: 140px;
    margin: 0;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: break-word;
    word-break: break-all;
    /* white-space: nowrap; */
    /* width: calc(90%); */
}

button.form.submit{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    height: 40px;
    width: 150px;
}
