/* Header */

.listingPage {
    display: flex;
    flex-direction: column;
}

div.allgroups.container {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 70%;
}

div.header.links {
    display: flex;
    gap: 18px;
    width: 70%;
}

a.allevents,
a.allgroups {
    color: teal;
}

a.allevents:hover,
a.allgroups:hover {
    cursor: default;
}

div.event.description.container{

}

div.event.card.text.container {
    align-self: flex-start;
}

div.listings {
    align-self: center;
    width: 70%;
}

img.listing {
    align-self: center;
    height: 100%;
    max-height: 240px;
    max-width: 100%;
}

.listing.card {
    align-items: center;
    display: flex;
    gap: 1%;
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
}

p.event.card.startDate {
    color: teal;
    font-weight: bold;
    margin-top: 0;
}

a.listing {
    color: black;
    text-decoration: none;
}

.listing.card:hover {
    cursor: pointer;
}

div.additionalInfo {
    display: flex;
    gap: 2%;
}

p.card.title {
    font-size: 30px;
    margin: 0;
}

p.card {
    font-size: 17px;
    word-wrap: break-word;
}

p.location.card {
    font-weight: bold;
}

hr {
    border: 1px solid lightgray;
    margin: 18px;
    width: 100%;
}

.grayout {
    color: gray;
    text-decoration: none;
}

a.grayout:hover{
    cursor: pointer;
}
