/* Header */

.listingPage {
    display: flex;
    flex-direction: column;
}

div.allgroups.container {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 70%;
}

div.header.links {
    display: flex;
    gap: 18px;
    width: 70%;
}

a.allevents,
a.allgroups {
    color: teal;
}

a.allevents:hover,
a.allgroups:hover {
    cursor: default;
}

div.listings {
    align-self: center;
    width: 70%;
}

img.listing {
    height: auto;
    max-width: 50%;
}

.listing.card {
    display: flex;
    gap: 3%;
}

div.additionalInfo {
    display: flex;
    gap: 2%;
}

p.card.title {
    font-size: 20px;
    margin: 0;
}

p.card {
    font-size: 14px;
}

hr {
    border: 1px solid lightgray;
    margin: 18px;
}

a.grayout {
    color: gray;
    text-decoration: none;
}

a.grayout:hover{
    cursor: pointer;
}
