.homepage {
    justify-self: center;
    display: flex;
    flex-direction: column;
}


/* Section 1 */

div.section1.container {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

div.section1.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
}

.section1.title {
    font-size: 25px;
    text-align: left;
}

img.section1 {
    width: 45%;
}

i.standout {
    color: rgb(255,43,43);
    font-weight: bold;
}

/* Section 2 */

div.section2.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 25%;
    margin-bottom: 50px;
}

.section2.title {
    font-size: 20px;
}

/* Section 3 */

div.section3 {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    width: 70%
}

div.section31.container,
div.section32.container,
div.section33.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.section3.navlink {
    color: #008080;
    font-size: 15px;
    margin: 0 0 12px;
    text-decoration: none;
}
.section3.navlink:hover {
    text-decoration: underline;
}

.navlink.grayout,
.navlink.grayout:hover {
    color: gray;
    cursor: default;
    text-decoration: none;
}

p.subtitle {
    margin: 0px;
}

div.section3 img {
    width: 43%;
    height: 50%;
}

/* Section 4 */

div.section4 {
    align-self: center;
    justify-content: center;
    display: flex;
    width: 33%;
}

button.section4 {
    font-size: 20px;
    height: 35px;
    width: 120px;
}

li.modal {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    list-style-type: none;
}
