.homepage {
    justify-self: center;
    display: flex;
    flex-direction: column;
}


/* Section 1 */

div.section1.container {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

div.section1.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 45%;
}

img.section1 {
    width: 45%;
}

/* Section 2 */

div.section2.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 25%;
    margin-bottom: 50px;
}

.section2.title {
    font-size: 1.875rem;
}



/* Section 3 */

div.section3 {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

div.section31.container,
div.section32.container,
div.section33.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.section3.navlink {
    color: teal;
    font-size: 1.25rem;
    margin: 0 0 12px;
    text-decoration: none;
}

.navlink.grayout,
.navlink.grayout:hover {
    color: gray;
    cursor: default;
}

p.subtitle {
    margin: 0px;
}

div.section3 img {
    width: 43%;
    height: 50%;
}

/* Section 4 */

div.section4 {
    align-self: center;
    justify-content: center;
    display: flex;
    width: 33%;
}

button.section4 {
    font-size: 20px;
    height: 40px;
    width: auto;
}
