a.upper.toEvents {
    margin-left: 3px;
}

.upper.event.title {
    font-size: 35px;
    margin-top: 14px;
    margin-bottom: 5px;
    text-align: left;
}

p.upper.organizer {
    margin-top: 0;
    margin-bottom: 20px;
}

.upperSection.event.container {
    flex-direction: row;
}

.upper.event.img.container {
    max-width: 50%;
    max-height: 350px;
}

.upper.event.img {
    max-height: 100%;
}

.upper.event.card.container {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: space-between;
    height: 350px;
}

.lowerSection.event.container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: fit-content;
    justify-items: center;
    margin-top: 25px;
    width: 80%;
}

.lower.event.details.container{
    display: flex;
    gap: 20px;
}

.lowerSection.event.background {
    justify-self: center;
}

.lower.event.additionalInfo.card.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-self: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.lower.event.details.maincontainer {
    align-items: flex-start;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
}

img.lower.group {
    width: 150px;
    max-height: 100px;
}

p.event.card.description {
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.lower.group.event.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.lower.group.card.info {
    display: flex;
    flex-direction: column;
}

.lower.group.layout {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.lower.group.event.container {
padding: 0;
}

.lower.event.text {
    align-self: center;
    margin: 0;
    width: 100%;
}
p.lower.event.text.dates {
    width: 50px;
}
p.card.dot.event.additionalInfo{
    align-self: flex-start;
}

p.lower.event.startdateactual,
p.lower.event.starttimeactual,
p.lower.event.enddateactual,
p.lower.event.endtimeactual {
    color: teal;
    text-wrap: nowrap;
}

p.lower.group.event.card,
div.lower.group.event.card {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.lower.group.event.container {
    padding: 20px;
}

i {
    color: lightgray;
}

p.dot {
    margin: 0;
}

.icon.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    margin-left: 20px;
    width: 10%;
}

i.fa-map-pin {
    margin-left: 5px;
}

i.fa-2x.events.details {
    align-self: center;
}

.form.price.container{
    position:relative;
}

.form.price.dollarsign{
    position:absolute;
    left:8px;
    top:5px;
}

.form.price.input{
    padding:0px 0px 0px 18px;
    border:solid 1px #ccc;
    border-radius:5px;
    width:
}

input.form {
    height: 30px;
}

form.create.event{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.event.form.master.container{
    justify-content: center;
    display: flex;
}

select.form.event {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100px;
}

input.form.startdate,
input.form.enddate {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
}

input.form.event.img.url,
textarea.form.event.description,
input.event.name {
    margin-top: 5px;
}

p.form.subtitle.event.price {
    margin-bottom: 5px;
}

button.event.form.create.submit {
    align-self: flex-start;
    /* box-shadow: 4px 3px 1px gray; */
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    width: 130px;
}
