a.upper.toEvents {
    margin-left: 3px;
}

.upper.event.title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

p.upper.organizer {
    margin-top: 0;
    margin-bottom: 20px;
}

.upperSection.event.container {
    flex-direction: row;
}

.upper.event.img.container {
    justify-content: center;
    width: 60%;
    max-width: calc(60%);
    max-height: 450px;
}

.upper.event.img {
    max-height: 320px;
}

.upper.event.card.container {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: space-between;
    max-height: 320px;
    width: 40%;
}

.lowerSection.event.container {
    align-self: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-items: center;
    margin-top: 25px;
    width: 80%;
}

.lower.event.details.container{
    display: flex;
    gap: 20px;
}

.lowerSection.event.background {
    justify-self: center;
}

.lower.event.additionalInfo.card.container {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 200px;
    justify-self: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
}
.lower.event.details.maincontainer {
    align-items: flex-start;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
}

img.lower.group {
    width: 150px;
    max-height: 60px;
}

p.event.card.description {
    max-height: 120px;
    overflow: auto;
    text-overflow: clip;
    white-space: pre-wrap;
}

.lower.group.event.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.lower.group.card.info {
    display: flex;
    flex-direction: column;
}

.lower.group.layout {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.lower.group.event.container {
padding: 0;
}

.lower.event.text {
    align-self: center;
    margin: 0;
    width: 100%;
}



p.lower.event.text.dates.label {
    width: 60px;
}


p.card.dot.event.additionalInfo{
    align-self: flex-start;
}

p.lower.event.startdateactual,
p.lower.event.starttimeactual,
p.lower.event.enddateactual,
p.lower.event.endtimeactual {
    color: teal;
    font-weight: bold;
    width: 200px;
}

.upper.crud.update.reference-button {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

p.lower.groupname.event.card {
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}


p.lower.event.text.details.location{
    margin-left: 7px;
}

.lower.datebox {
    width: fit-content;
}

p.lower.group.event.card,
div.lower.group.event.card {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.lower.group.event.container {
    box-sizing: border-box;
    padding: 20px;
}

i {
    color: lightgray;
}

p.dot {
    margin: 0;
}

.icon.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    margin-left: 20px;
    width: 10%;
}

i.fa-map-pin {
    margin-left: 5px;
}

i.fa-2x.events.details {
    align-self: center;
}

.form.price.container{
    position:relative;
}

.form.price.dollarsign{
    position:absolute;
    left:7px;
    top:-1px
}

.form.price.input{
    margin-top: -10px;
    padding:0px 0px 0px 15px;
    border:solid 1px #ccc;
    border-radius:5px;
    width: 50px;
}

input.form {
    height: 20px;
}

form.create.event{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.event.form.master.container{
    justify-content: center;
    display: flex;
}

select.form.event {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100px;
}

input.form.startdate,
input.form.enddate {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
}

input.form.event.img.url,
textarea.form.event.description,
input.event.name {
    margin-top: 5px;
}

p.form.subtitle.event.price {
    margin-bottom: 5px;
}

button.event.form.create.submit {
    align-self: flex-start;
    /* box-shadow: 4px 3px 1px gray; */
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    width: 130px;
}
