/* TODO Add site wide styles */
#root {
    width: 80%;
}

button {
    align-self: center;
    background-color: rgb(255, 43, 43);
    border: 1px solid rgb(255, 43, 43);
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    width: 50%;
}

button:hover {
    cursor: pointer;
}

p.error{
    color: red;
}

.unavailable {
    background-color: gray;
    border: 1px solid gray;
    color: white;
}

.unavailable:hover {
    cursor: not-allowed;
}

body {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    font-size: 16px;
    justify-content: center;
}
