
nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: -5%;
    width: 110%;
}

img.logo {
    align-self: center;
    height: 40px;
    padding-top: 5px;
}

.nav.left {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav.right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.hidden {
    display: none;
}

a.startNewGroup {
    align-self: center;
    color: teal;
    font-size: 15px;
    margin-right: 20px;
    text-decoration: none;
}

/* Dropdown Account Profile */

.fa-chevron-up,
.fa-chevron-down {
    color: lightgray;
    padding-left: 5px;
}


.fa-user-circle {
    align-self: center;
    background-color: none;
    color: rgb(255, 43, 43);
    display: flex;
}

.modal-menu-profile,
.modal-menu {
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 200px;
    /* z-index: 1; */
}

.modal-menu-item {
    border-radius: 7px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin: 5px 5px;
    padding: 10px;
    position: relative;
    text-align: center;
    z-index: 1;
    width: 150px;
}

ul.profile-dropdown {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 1;
}

.dropdown-menu {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 80px;
}

button.profile-dropdown {
    align-content: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 0px 0px;
}

div.profile-dropdown {
    display: flex;
}

button.profile-dropdown:hover {
    cursor: pointer;
    transform: scale(115%);
    transition: all;
}

/* Search */


.searchbarform {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 60px;
}

.searchbarinput {
    align-self: center;
    border: none;
    height: 93%;
    padding-left: 10px;
}

.searchbardivlocation{
    display: flex;
    border: 1px solid lightgray;
    box-sizing: border-box;
    height: 40px;
    justify-content: center;
    margin-left: -1px;
}

.searchbardivevents{
    display: flex;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    height: 40px;
    justify-content: center;
}

button.searchbar{
    background-color: rgb(255, 43, 43);
    border: 1px solid rgb(255, 43, 43);
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
    height: 40px;
}

button.searchbar:hover,
.modal-menu-link:hover,
button.logout:hover {
    cursor: pointer;
}

.fa-magnifying-glass.search{
    color: white;
    padding: 0px 3px;
}

.fa-magnifying-glass.static{
    align-self: center;
    color: gray;
    font-size: 15px;
    padding-left: 9px;
    padding-right: 4px;
}
