nav {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 64px;
}

.nav.left {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
    /* height: 35px;
    width: 35px; */
}

/* Dropdown Account Profile */

.fa-user-circle {
    align-self: center;
    background-color: none;
    color: rgb(255, 43, 43);
    display: flex;
    justify-self: center;
}

.fa-user-circle:hover {
    cursor: pointer;
    transform: scale(115%);
    transition: all;
}

.modal-menu-link,
.modal-menu-profile {
    border: 1px solid lightgray;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    width: 250px;
}

ul.profile-dropdown {
    /* border: 1px solid lightgray; */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: relative;
}

button.profile-dropdown {
    align-self: center;
    background-color: white;
    border: 10px;
    display: flex;
    size: fit-content;
    padding: 0px 0px;
}

button.logout {
    background-color: rgb(255, 43, 43);
    border: 1px solid rgb(255, 43, 43);
    border-radius: 8px;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
}

/* Search */


.searchbarform {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 60px;
}

.searchbarinput {
    align-self: center;
    border: none;
    height: 93%;
    padding-left: 10px;
}

.searchbardivlocation{
    display: flex;
    border: 1px solid lightgray;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    margin-left: -1px;
}

.searchbardivevents{
    display: flex;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    height: 100%;
    justify-content: center;
}

button.searchbar{
    background-color: rgb(255, 43, 43);
    border: 1px solid rgb(255, 43, 43);
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
    height: 100%;
}

button.searchbar:hover,
.modal-menu-link:hover,
button.logout:hover {
    cursor: pointer;
}

.fa-magnifying-glass.search{
    color: white;
    padding: 0px 3px;
}

.fa-magnifying-glass.static{
    align-self: center;
    color: gray;
    font-size: 15px;
    padding-left: 9px;
    padding-right: 4px;
}
