h1.login {
    text-align: center;
}


form.login {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

input.input2 {
    margin-top: 10px;
}

input.input1,
input.input2 {
    font-size: 20px;
    height: 30px;
}

button.login {
    font-size: 22px;
    margin-top: 40px;
    height: 40px;
    width: 100%;
}

button.demo {
    background-color: white;
    border: none;
    color: teal;
    font-size: 20px;
    margin-top: 25px;
    text-decoration: underline;
    width: 100%;
}
